.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 0, 255, 0.7);
    margin-top: 25px;
    width: 50%;
}